*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 700px;
    height: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.green-section {
    width: 50%;
    background: #008c4a;
    color: white;
    padding: 40px ;
    text-align: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
}

.green-section::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width:75px;
    height: 100%;
    background-color: #008c4a;
    
    
}

.sign-up {
    margin-top: 20px;
    padding: 8px 15px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.sign-up:hover {
    background: white;
    color: #008c4a;
}

.white-section {
    width: 60%;
    padding: 30px;
}

h2 {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-in {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: 2px solid #008c4a;
    background: transparent;
    color: #008c4a;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.sign-in:hover {
    background: #008c4a;
    color: white;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #008c4a;
    text-decoration: none;
}
